@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,100;1,400;1,500;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
}

/* .custorm-blog {
  font:
    16px 'Roboto',
    sans-serif;
} */

.custorm-blog li {
  list-style-type: disc;
  margin-left: 2rem;
  margin-top: 2px;
}
.custorm-blog img {
  @apply object-cover rounded-md w-[100%] mt-4 mb-2 max-h-[70%];
}

.custorm-blog h2 h3 h4 h5 h6 {
  font-weight: 500;
}
.custorm-blog em {
  font-style: italic;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 600;
  color: #6a7070;
}

.custorm-blog a {
  font-style: italic;
  margin-bottom: 20px;
  text-decoration: underline;
  font-size: 14px;
  font-weight: 500;
}

.container {
  background-size: cover;
  background-position: center;
  position: relative;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  color: black !important;
  -webkit-text-fill-color: black !important;
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
}
.navbar-links a:hover {
  border-radius: 25px;
  transition: all 0.2s;
}

.btn-custom {
  padding: 12px 20px;
  border-radius: 25px;
  border-top-left-radius: 0px;
  transition: 0.5s;
}

.btn-custom:hover {
  border-top-left-radius: 25px;
}

.content {
  margin-top: 30%;
  justify-content: space-between;
}

.chef-img {
  width: 21%;
  bottom: 0;
  right: 18%;
  position: absolute;
  animation: move 2.5s linear infinite;
}
.chefdark-img {
  width: 28%;
  bottom: 0;
  right: 13%;
  position: absolute;
  animation: move 2.5s linear infinite;
}

.healthy-img {
  animation: move 2.5s linear infinite;
}
@keyframes move {
  0% {
    transform: translate(-20px, 0px);
  }
  50% {
    transform: translate(0px, -20px);
  }
  100% {
    transform: translate(-20px, 0px);
  }
}

.blob1 {
  @apply w-80 h-80 bg-color-blob absolute top-0 -left-5 -z-10 blur-2xl opacity-30 overflow-hidden rounded-full;
}
.blob2 {
  @apply w-80 h-80 bg-color-secondary absolute bottom-10 right-0 -z-10 blur-2xl opacity-30 overflow-hidden rounded-full;
}

.link-custom {
  @apply p-3 flex rounded-md gap-5 text-base items-center md:cursor-pointer cursor-pointer duration-300 font-medium;
}

.active {
  @apply bg-blue-100 text-red-600 no-underline dark:bg-slate-700 dark:text-gray-400;
}

.modal-customs,
.overlay-customs {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 201;
}

.overlay-customs {
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  position: absolute;
  z-index: 202;
  top: 50%;
  left: 50%;
  height: auto;
  transform: translate(-50%, -50%);
  padding: 15px 16px;
  border-radius: 10px;
  max-height: calc(100vh - 80px);
  /* overflow-y: auto; */
}
.ql-snow .ql-tooltip input[type='text'] {
  display: none;
  border: 1px solid #ccc;
  font-size: 13px;
  height: 26px;
  margin: 0px;
  background: white;
  padding: 3px 5px;
  width: 170px;
}

.slick-dots li.slick-active button:before {
  color: rgba(111, 76, 10, 0.86) !important;
  font-size: 15px !important;
}
.slick-dots li button:before {
  color: rgb(240, 158, 7) !important;
  font-size: 15px !important;
}

.post-content {
  padding: 0 1.5rem 1.5rem 1.5rem;
}

.textarea-post {
  font-size: 1.25rem;
  width: 100%;
  border: none;
  resize: none;
  outline: none;
}

.cooking-text {
  position: relative;
  margin: 0 auto;
  width: 30vh;
  text-align: center;
  font-family: 'Amatic SC';
  font-size: 20px;
  color: #111010;
  font-weight: 700;
  opacity: 0.75;
  animation: pulse 2.5s linear infinite;
}

#cooking {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vh;
  height: 20vh;
  overflow: hidden;
}

#cooking #area {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
  background-color: transparent;
  transform-origin: 15% 60%;
  animation: flip 2.1s ease-in-out infinite;
}

#cooking #area #sides {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: 15% 60%;
  animation: switchSide 2.1s ease-in-out infinite;
}

#cooking #area #sides #handle {
  position: absolute;
  bottom: 18%;
  right: 80%;
  width: 35%;
  height: 20%;
  background-color: transparent;
  border-top: 1vh solid #333;
  border-left: 1vh solid transparent;
  border-radius: 100%;
  transform: rotate(20deg) rotateX(0deg) scale(1.3, 0.9);
}
#cooking #area #sides #pan {
  position: absolute;
  bottom: 20%;
  right: 30%;
  width: 50%;
  height: 8%;
  background-color: #333;
  border-radius: 0 0 1.4em 1.4em;
  transform-origin: -15% 0;
}

#cooking #area #pancake {
  position: absolute;
  top: 24%;
  width: 100%;
  height: 100%;
  transform: rotateX(85deg);
  animation: jump 2.1s ease-in-out infinite;
}

#cooking #area #pancake #pastry {
  position: absolute;
  bottom: 26%;
  right: 37%;
  width: 40%;
  height: 45%;
  background-color: #333;
  box-shadow: 0 0 3px 0 #333;
  border-radius: 100%;
  transform-origin: -20% 0;
  animation: fly 2.1s ease-in-out infinite;
}

#cooking .bubble {
  position: absolute;
  border-radius: 100%;
  box-shadow: 0 0 0.25vh #4d4d4d;
  opacity: 0;
}

#cooking .bubble:nth-child(1) {
  margin-top: 2.5vh;
  left: 58%;
  width: 2.5vh;
  height: 2.5vh;
  background-color: #454545;
  animation: bubble 2s cubic-bezier(0.53, 0.16, 0.39, 0.96) infinite;
}

#cooking .bubble:nth-child(2) {
  margin-top: 3vh;
  left: 52%;
  width: 2vh;
  height: 2vh;
  background-color: #3d3d3d;
  animation: bubble 2s ease-in-out 0.35s infinite;
}

#cooking .bubble:nth-child(3) {
  margin-top: 1.8vh;
  left: 50%;
  width: 1.5vh;
  height: 1.5vh;
  background-color: #333;
  animation: bubble 1.5s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.55s infinite;
}

#cooking .bubble:nth-child(4) {
  margin-top: 2.7vh;
  left: 56%;
  width: 1.2vh;
  height: 1.2vh;
  background-color: #2b2b2b;
  animation: bubble 1.8s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.55s infinite;
}

#cooking .bubble:nth-child(5) {
  margin-top: 2.7vh;
  left: 63%;
  width: 1.1vh;
  height: 1.1vh;
  background-color: #242424;
  animation: bubble 1.6s ease-in-out 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1, 1);
    opacity: 0.25;
  }
  50% {
    transform: scale(1.2, 1);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0.25;
  }
}

@keyframes flip {
  0% {
    transform: rotate(0deg);
  }

  5% {
    transform: rotate(-27deg);
  }

  30%,
  50% {
    transform: rotate(0deg);
  }

  55% {
    transform: rotate(27deg);
  }

  83.3% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes switchSide {
  0% {
    transform: rotateY(0deg);
  }

  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes jump {
  0% {
    top: 24;
    transform: rotateX(85deg);
  }
  25% {
    top: 10%;
    transform: rotateX(0deg);
  }
  50% {
    top: 30%;
    transform: rotateX(85deg);
  }
  75% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(85deg);
  }
}

@keyframes fly {
  0% {
    bottom: 26%;
    transform: rotate(0deg);
  }
  10% {
    bottom: 40%;
  }
  50% {
    bottom: 26%;
    transform: rotate(-190deg);
  }
  80% {
    bottom: 40%;
  }
  100% {
    bottom: 26%;
    transform: rotate(0deg);
  }
}

@keyframes bubble {
  0% {
    transform: scale(0.15, 0.15);
    top: 80%;
    opacity: 0;
  }
  50% {
    transform: scale(1.1, 1.1);
    opacity: 1;
  }
  100% {
    transform: scale(0.33, 0.33);
    top: 60%;
    opacity: 0;
  }
}

/* căn giữa video */
.ql-video {
  margin: 0 auto;
  display: block;
  /* auto convert chiều cao với chiều rộng của video theo tỉ lệ của video */
  max-height: 400px;
  height: 300px;
  width: 100%;
}
